*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background: #2b2641;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

h1{
    width: 80%;
    text-align: center;
    font-size: 10vw;
    font-weight: 500;
    line-height: 100%;
}

p, li{
    width: 80%;
    margin: 0 2em;
    font-size: 2.5vw;
    letter-spacing: 0.1rem;
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards{
    max-width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cards > h1{
    margin: 0 auto;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

#three-canvas{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}